<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local_nuget_server" value="https://localhost:7183/v3/index.json" protocolVersion="3" />
  </packageSources>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local_nuget_server">
      <package pattern="SilvaViridis.*" />
    </packageSource>
  </packageSourceMapping>

  <config>
    <clear />
    <add key="globalPackagesFolder" value="NuGet/PkgCache" />
  </config>
</configuration>
