root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,csproj,xaml,axaml}]
indent_size = 2
tab_width = 2

[*.cs]
indent_size = 4
tab_width = 4

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false
